@font-face {
    font-family: Circe;
    src: url("../fonts/Circe-Regular.ttf");
}

body {
    margin: 0;
    padding: 0;
    font-family: Circe, sans-serif !important;
}


/* Wrapper */
.box-container {
    width: 100%;
    height: 100%;
}

button {
    font-family: Circe, sans-serif ;
}

.hover-button:hover {
    background-color: #117d11;
}

/* Top navigation */
.box-container__top-nav {
    height: 40px;
    background: #fff;
}

.top-nav__nav {
    width: 500px;
    float: right;

}

.top-menu {
    list-style-type: none;
    margin: 0 auto;
    text-align: center;

}

.top-menu li {
    display: block;
    min-height: 40px;
    min-width: 20%;
    margin-left: 12%;
    float: left;
    line-height: 40px;
    font-size: 1em;
}

.top-menu li a {
    text-decoration: underline;
    color: #c9c9c9;
}

.top-menu li:first-child {
    margin-left: 0px;
}

.top-nav__logo {
    width: 200px;
    margin-top: 13px;
    margin-left: 30px;
    float: left;
}

.top-nav__nav__btn {
}

.top-nav__nav__btn button{
    height: 35px;
    margin-top: 4px;
    width: 150px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 1em;
    font-family: Calibri, sans-serif;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background: #159a15;
    display: none;

}

@media screen and (max-width:730px){
    .top-menu {
        display: none;
    }

    .top-nav__nav {
        width: 500px;
        clear: left;

    }

    .top-nav__nav__btn button{
        display: block;
        float: right;
    }
}



/* Character block */
.box-container__block {
    display: block;
}

/* Header */
.header {
    min-width: 100%;
    background-image: url("../img/fon.png");
    background-size: cover;
    background-position: center;
}

.black-block {
    height: 383px;
    width: 100%;
    position: absolute;
    background: #09090A;
    opacity: 0.8;
    display: none;
}

.buter-logo {
    border-right: 1px solid #96979a;
    width: 25px;
    height: 38px;
    display: none;
    vertical-align: top;
    padding-right: 13px;
    position: absolute;
    left: 0;
    top: 0px;
    cursor: pointer;
}

.buter-logo img {
    position: absolute;
    top: 10px;
    left: 8px;
}

@media screen and (max-width: 414px) {
    .header {
        background-image: url("../img/mini-fon.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header-title {
        position: relative;
    }

    .black-block {
        display: block;
    }

    .top-nav__logo {
        width: 115px;
        height: 12px;
        margin-left: 50px;
        margin-top: 13px;
    }

    .top-nav__logo img {
        width: 100%;
    }

    .buter-logo {
        display: block;
    }

    .box-container__top-nav {
        position: fixed;
        z-index: 1000;
    }
}

@media screen and (max-width: 320px) {
    .black-block {
        height: 320px;
    }
}




.header_button {
    margin-top: 10%;
    width: 200px;
    min-width: 40%;
    height: 60px;
    margin-left: 3%;
    font-size: 20pt;
    outline: none;
    margin-bottom: 70px;
    cursor:pointer;
}

.btn_menu {
    background: #1c1b1e;
    color: #fff;
    border: 1px solid #37363b;
    border-radius: 5px;
    font-size: 1.3em;
    width: 250px;
    font-family: Circe, sans-serif;
}

.btn_client {
    background: #159a15;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 1.3em;
    width: 250px;
    font-family: Circe, sans-serif;
}

.header-title {
    margin: 0 auto;
    width: 550px;
}

.header-title__text {
    padding-top: 70px;
    font-size: 50px;
    text-align: center;
    color: #fff;
    line-height: 1.1em;
}


@media screen and (max-width: 1375px) {

}


@media screen and (max-width: 484px) {
    .header-title {
        width: 100%;
    }

    .header-title__text {
        width: 470px;
        margin: 0 auto;
    }

    .header-title__text {
        width: 350px;
    }

    .header-title__buttons {
        width: 300px;
        margin: 0 auto;
        height: 200px;
        position: relative;
    }

    .header-title__buttons button{
        margin-left: 20px;
        margin-top: 40px;

    }

    .header-title__buttons button:first-child {
        margin-bottom: 30px;
        position: absolute;
        top: 80px;
    }

    .header-title__buttons button:last-child {

    }

}

@media screen and (max-width: 360px) {
    .header-title__buttons button{
      margin-left: 25px;
    }
}

.jaq {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    line-height: 50px;
    color: #fff;
}

.border-hover:hover {
    border: 1px solid #117d11;
}

.form_jaq {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 55px;
    color: #fff;
    text-decoration: none;
    vertical-align: top;
}


@media screen and (max-width: 382px) {
    .top-nav__nav__btn {
        width: 340px;
    }
    .top-nav__nav__btn button {
        width: 150px;
        line-height: 13px;
    }
}

@media screen and (max-width: 360px) {
    .top-nav__nav__btn button {
        padding-left: 10px;
    }
}


@media screen and (max-width: 340px) {
    .footer__footer-info {
        font-size: 0.8em;
        text-align: left;

    }
}


.h2 {
    background: #fff;
    font-weight: lighter;
    font-size: 36px;
    margin-bottom: 50px;
}

/* Content */
.content {
    width: 100%;
}


.content__content-block {
    width: 100%;
}

.works {
    max-height: 100%;
    background: #efefef;

}


.works-info {
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
}

.works-info-steps {
    padding-top: 40px;
    padding-bottom: 40px;

}



.step {
    margin-top:5%;
    width: 200px;
    height: 100%;
    margin-left: 5.5%;
    display: inline-block;
    font-size: 1em;
    vertical-align: top;
    color: #222222;
    text-align: center;
}

.step-circle {
    text-indent: 0.3em;
}


@media screen and (max-width: 736px) {
    .works-info-steps {
        width: 350px;
        margin: 0 auto;
    }

    .step {
        width: 300px;
    }

    .step-circle {
        float: left;
        border: 1px solid;
    }

    .step-text {
        width: 250px;
        padding-left: 55px;
        text-align: left;
    }


}

.step-title {
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 2.2em;
}

.step-circle {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    font-size: 1.3em;
    margin-bottom: 20px;
    border-radius: 20px;
    text-align: center;
    line-height: 45px;
    border: 1px solid #179b17;
}

.step-text {
    width: 220px;
}

.last {
}

.numbers {
    margin-left: -5px;
}

/* Galery */
.gallery {
    width: 100%;
    margin: 0 auto;
    background-image: url("../img/slider_fon.jpg");
}

@media screen and (max-width: 420px) {
    .gallery {
        background-image: none;
    }
}

/* Add with smuzi */

.add-smuzi {

}
.with-smuzi {
    margin: 0 auto;
    margin-bottom: 30px;
}

.with-smuzi__add {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 20px;
}

.add__first {
    width: 300px;
    display: inline-block;
    margin-right: 50px;

    vertical-align: top;
}

.with-smuzi__title {
    text-align: center;
    font-size: 2.4em;

}

.add__image img{
    width: 100%;
    border-radius: 5px;
}

.add__second {
    width: 300px;
    display: inline-block;
    vertical-align: top;
}

.add__title {
    font-size: 1.1em;
    padding-bottom: 13px;
}

.add__more-title {
    font-size: 1.2em;
    text-align: left;
    margin-top: 10px;
    line-height: 1.1em;
}
.add__size {
    margin-top: 20px;
    line-height: 1.1em;
}
.size-text {
    text-align: left;
    line-height: 1.2em;
    white-space: nowrap;
}

.add__ingridients {
    text-align: left;
    font-size: 16px;
    margin-top: 20px;
    white-space: nowrap;
}

.add__ingridients span {
    font-weight: bold;
    text-align: left;
}

.add__help {
    margin-top: 20px;
}

@media screen and (max-width: 735px) {

    .add__first {
       width: 50%;
        margin-right: 0;
        margin-top: 30px;
    }

    .add__second {
        width: 50%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .add__help {
    }
}


@media screen and (max-width: 600px) {
    .add__first {
        width: 350px;
    }

    .add__second {
        width: 350px;
    }
}

@media screen and (max-width: 400px) {
    .add__first {
        width: 300px;
    }

    .add__second {
        width: 300px;
    }

    .add__help {

    }
}


/* Empty block*/
.empty {
    height: 100px;
    border: none;
    background: #efefef;
    clear: both;
}

/* Price */

@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Regular.ttf");
}
.price {
    width: 100%;
    background: #efefef;
    font-family: OpenSans, sans-serif;
    padding-bottom: 30px;
}

.smuzi-price {
    margin: 0px auto;
    width: 40%;
    border: 4px solid #159a15;
    border-radius: 10px;
    height: 100%;
}

@media screen and (max-width: 1375px) {
    .smuzi-price {
        width: 600px;
    }
}

@media screen and (max-width: 1280px) {

}


@media screen and (max-width: 375px) {

}

@media screen and (max-width: 360px) {

}



@media screen and (max-width: 768px) {
    .smuzi-price {
        height: 100%;
        border: none;
    }

    .smuzi-price__etc-info {
       margin-top: 30px;
    }

    .smuzi-price__etc-info span {
        font-family: Circe, sans-serif;
    }

    .smuzi-price__title {
        font-size: 1.9em;
        line-height: 1.2em;
    }

    .with-smuzi__title {
        font-size: 2.1em;
    }

    .h2 {
        font-size: 2.2em;
        line-height: 1em;
    }

    .header-title__text {
        font-size: 35px;
        width: 340px;
        margin: 0 auto;
    }

    .step-title {
        font-size: 2em;
    }

    .header-title__text {

    }
}

.smuzi-price__title {
    background: #efefef;
    max-width: 80%;
    margin: 0px auto;
    margin-top: -30px;
    margin-bottom: 20px;
    font-size: 2.1em;
    text-align: center;
    font-weight: bold;
    font-family: Circe, sans-serif;
}

.smuzi-price__title span {
    display: block;
    font-size: 0.6em;
    padding-top: -20px;
    font-weight: normal;
}

.smuzi-price__form {
    min-width: 70%;
    height: 100%;
    margin: 30px auto;
    margin-bottom: 20px;
}

.inputs {
    display: block;
    padding-left: 20px;
    width: 230px;
    margin: 15px auto;
    height: 50px;
    font-size: 1.1em;
    border-radius: 5px;
    outline: none;
    border: 1px solid #d3d3d3;
    color: #9a9a9a;
    font-family: Circe, sans-serif;
}



.dops {
    width: 250px;
    margin: 0 auto;
    line-height: 30px;
    font-size: 1em;
    font-family: Circe, sans-serif;
}

.dops:last-child {
    margin-top: 5px;
}


.check {
    vertical-align: middle;
    width: 15%;
    height: 30px;
    color: #ddd;
}

.price-button {
    display: block;
    min-width: 280px;
    height: 60px;
    border: 1px solid #ddd;
    background: #159a15;
    color: #fff;
    font-size: 1.3em;
    text-align: center;
    line-height: 1.5em;
    outline: none;
    border-radius: 5px;
    margin: 20px auto;
    cursor: pointer;
}

.smuzi-price__etc-info {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    padding-left: 20px;
    font-size: 1em;
    margin-top: 30px;
    margin-bottom: 10px;
}

.timer {
    display: block;
    padding-top: 10px;
    padding-left: -10px;
}

@media screen and (max-width: 1523px) {
    .smuzi-price__title {
        font-size: 1.9em;
    }
}

@media screen and (max-width: 1366px) {

    .smuzi-price__etc-info {

        font-size: 0.9em;
    }
}

@media screen and (max-width: 1093px) {
    .smuzi-price__etc-info {
        font-size: 0.9em;
    }
}

.smuzi-price__etc-info span {
    padding-left: -30px;
    font-size: 1.5em;
}

@media screen and (max-width: 993px) {
}

@media screen and (max-width: 930px) {
    .smuzi-price {
        width: 500px;
    }
    .price-button {
        width: 220px;
    }

    .smuzi-price__title {
        width: 250px;
    }

    .first-zak {
        display: none;
    }
    .five {
        display: inline-block;
        text-align: left;
        font-family: Circe, sans-serif;
    }

}



@media screen and (min-width: 930px) {
    .five {
        display: none;
    }

    .title-zak {
        display: none;
    }
}



@media screen and (max-width: 503px) {
    .smuzi-price {
        width: 400px;
    }
    .price-button {
        width: 220px;
    }

    .box-container__block {

    }

}

@media screen and (max-width: 405px) {
    .smuzi-price {
        width: 380px;
    }
    .price-button {
        width: 220px;
    }
    .smuzi-price__etc-info {
        font-size: 15px;
    }

    .smuzi-price__etc-info span {
        font-size: 1.1em;
    }
    .smuzi-price__etc-info {
        width: 300px;
    }

    .smuzi-price__title {

    }


}

@media screen and (max-width: 377px) {
    .smuzi-price {
        width: 350px;
    }
}

@media screen and (max-width: 320px) {
    .smuzi-price {
        width: 300px;
    }

    .smuzi-price__etc-info {
        padding: 0;
    }

    .header-title__text {
        font-size: 25px;
        margin-left: -10px;
    }

    .top-nav__nav__btn {
        position: fixed;
        right: 7px;
    }

    .top-nav__nav__btn button {
        width: 120px;
    }
}

@media screen and (max-width: 414px) {
    .top-nav__nav__btn button {
        margin-right: 100px;
    }
}

@media screen and (max-width: 382px) {
    .top-nav__nav__btn button {
        margin-right: -35px;
    }
}

@media screen and (max-width: 368px) {
    .top-nav__nav__btn button {
        margin-right: 0;
    }
}

@media screen and (max-width: 320px) {
    .title-zak {
    }



    .five {
        width: 260px;
    }
}


/* Footer */
.footer {
    height: 100px;
    background: #363636;
}

.footer__footer-info {
    margin: 0 auto;
    width: 350px;
}

.footer__footer-info img {
    margin-top: 25px;
    margin-left: 90px;
}

.footer-text {
    margin-top: 10px;
    font-size: 1em;
    color: #fff;
    text-align: center;
}